.profileIcon {
  color: rgba(156, 163, 175);
}
.profileIcon:hover {
  color: rgb(43, 36, 36);
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border-radius: 0.25em;
  padding: 0px 8px;
  border: solid 0.1em rgb(219 108 108);
  margin: 2px;
  padding-bottom: 1px;
}
